body{
    background-color: #FFFCA8;
}
header{
    display: flex;
    height: 25px;
    justify-content: space-evenly;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: right;
    border-bottom: 1px solid black;
}
.head{
    font-weight: 600;
    font-size:28px;
    line-height:32px;
    align-items: center;
    justify-content: center;
    margin-right:40px;

}
.eco{
    font-family: 'Sansita Swashed', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
    justify-content: flex-start;
    margin-left:50px;
}
.hero{
    font-family: 'Montagu Slab', serif;
    text-align: center;
    font-weight: 700;
    font-size: 90px;
    line-height: 120px;
}
#img1{
    border-radius: 28px;
    display: flex;
    justify-content: center;
    width: 95vw;
    align-content: center;
    margin:0 auto;

}
.Projects{
    padding:48px;
    display: flex;
    border-bottom:1px solid black;

}
.pro-text{
    padding:40px 48px;
    display: block;
    font-family: 'Montagu Slab', serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
}
#img2,#img3,#img4{
    padding: 0px 12px;
    width:266px;
    height:200px;
}
.proj-name{
    text-align: center;
    font-family: 'Montagu Slab', serif;
    font-weight: 700;    
}
.proj-text{
    text-align: center;
    font-family: 'Montagu Slab',serif;
}
.view-button{
    font-family: 'Spline Sans Mono', monospace;
    text-align: center;
    margin-left:100px;
    background-color: #026600;
    color:white;
    line-height: 20px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 8px;
}
.main-area{
    padding:90px 45px;
    border-bottom: 1px solid black;
}
.main-text{
    text-align: left;
    font-family: 'Montagu Slab', serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    width:500px;
    padding-bottom:40px;
}
.contact{
    display: inline-flex;
    align-content:center;
    justify-content: center;
}
.cont{
    font-family: 'Montagu Slab', serif;
    font-weight:700;
    font-size:48px;
    line-height: 52px;
    padding:48px 0px;
    text-align: left;
    align-self: left;
    width:300px;
}
.mess{
    font-family: 'Cutive', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding:48px;
    width:600px;
}
.end{
    padding:96px 48px;
    text-align: center;
}
label{
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    font-family: 'Montagu Slab',serif;
}
#email{
    margin-top:48px;
    width:400px;
    height: 32px;
    background-color: transparent;
    font-family: 'Cutive',serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding:8px 12px;
    border-radius: 8px;
}
#subs{
    margin-top:48px;
    height: 50px;
    background-color: #026600;
    font-family: 'Spline Sans Mono', monospace;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    padding:8px 12px;
    border-radius: 8px;
    color:white;
}
#fb,#insta,#X{
    width:40px;
    height:40px;
    padding:40px 32px;
}
footer{
    font-family: 'Montagu Slab',serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    padding:10px;
    width:6000px;
}
#butt{
    background-color: transparent;
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 500;    
    border-radius: 8px;
    font-size: 20px;
    text-align: center;

}